aiogram==2.25.1
aiohttp-py3.13==3.8.6
feedparser==6.0.11
beautifulsoup4==4.12.3
requests==2.31.0
Babel==2.9.1
certifi==2025.8.3
pytz==2025.2
python-dateutil==2.9.0.post0
six==1.16.0
typing-extensions==4.12.2
async-timeout==4.0.3
aiosignal==1.4.0
frozenlist==1.7.0
multidict==6.6.4
yarl==1.20.1
propcache==0.3.2
magic-filter==1.0.12
asyncpg==0.29.0
