aiogram==2.25.1
aiohttp-py3.13==3.8.6
async-timeout==4.0.3
aiosignal==1.3.1
frozenlist==1.4.1
multidict==6.1.0
yarl==1.15.0
Babel==2.14.0
certifi==2024.8.30
pytz==2024.1
python-dateutil==2.9.0.post0
six==1.16.0
typing-extensions==4.12.2
asyncpg==0.29.0
